<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mscode.project.manufacture.mapper.MftShiftMapper">
    
    <resultMap type="MftShift" id="MftShiftResult">
        <result property="id"    column="id"    />
        <result property="maccode"    column="macCode"    />
        <result property="shifttype"    column="shiftType"    />
        <result property="shiftstarttime"    column="shiftStartTime"    />
        <result property="shiftendtime"    column="shiftEndTime"    />
        <result property="pdtcodes"    column="pdtCodes"    />
        <result property="shaftcodes"    column="shaftCodes"    />
        <result property="macspeed"    column="macSpeed"    />
        <result property="macefficiency"    column="macEfficiency"    />
        <result property="runtime"    column="runTime"    />
        <result property="stoptime"    column="stopTime"    />
        <result property="warpstoptime"    column="warpStopTime"    />
        <result property="weftstoptime"    column="weftStopTIme"    />
        <result property="offlinetime"    column="offLineTime"    />
        <result property="otherstoptime"    column="otherStopTime"    />
        <result property="warpstopnum"    column="warpStopNum"    />
        <result property="weftstopnum"    column="weftStopNum"    />
        <result property="otherstopnum"    column="otherStopNum"    />
        <result property="picknum"    column="pickNum"    />
        <result property="uploadnum"    column="uploadNum"    />
        <result property="statuschangenum"    column="statusChangeNum"    />
        <result property="shiftlength"    column="shiftLength"    />
        <result property="startlength"    column="startlength"    />
        <result property="shiftdate"    column="shiftDate"    />
        <result property="shiftnow"    column="shiftNow"    />
        <result property="updatetime"    column="updateTime"    />
        <result property="remark"    column="remark"    />
        <result property="middleno"    column="middleno"    />
        <result property="stationno"    column="stationno"    />
    </resultMap>

    <sql id="selectMftShiftVo">
        select id, macCode, shiftType, shiftStartTime, shiftEndTime, pdtCodes, shaftCodes, macSpeed, macEfficiency, runTime, stopTime, warpStopTime, weftStopTIme, offLineTime, otherStopTime, warpStopNum, weftStopNum, otherStopNum, pickNum, uploadNum, statusChangeNum, shiftLength,startlength, shiftDate, shiftNow, updateTime, remark,stationno,middleno from mft_shift
    </sql>

    <select id="selectMftShiftList" parameterType="MftShift" resultMap="MftShiftResult">
        <include refid="selectMftShiftVo"/>
        <where>  
            <if test="maccode != null  and maccode != ''"> and macCode = #{maccode}</if>
            <if test="shifttype != null  and shifttype != ''"> and shiftType = #{shifttype}</if>
            <if test="shiftstarttime != null "> and shiftStartTime = #{shiftstarttime}</if>
            <if test="shiftendtime != null "> and shiftEndTime = #{shiftendtime}</if>
            <if test="pdtcodes != null  and pdtcodes != ''"> and pdtCodes like concat('%', #{pdtcodes}, '%')</if>
            <if test="shaftcodes != null  and shaftcodes != ''"> and shaftCodes = #{shaftcodes}</if>
            <if test="params.beginMacspeed != null and params.beginMacspeed != '' and params.endMacspeed != null and params.endMacspeed != ''"> and macSpeed between #{params.beginMacspeed} and #{params.endMacspeed}</if>
            <if test="macefficiency != null "> and macEfficiency = #{macefficiency}</if>
            <if test="runtime != null "> and runTime = #{runtime}</if>
            <if test="stoptime != null "> and stopTime = #{stoptime}</if>
            <if test="warpstoptime != null "> and warpStopTime = #{warpstoptime}</if>
            <if test="weftstoptime != null "> and weftStopTIme = #{weftstoptime}</if>
            <if test="offlinetime != null "> and offLineTime = #{offlinetime}</if>
            <if test="otherstoptime != null "> and otherStopTime = #{otherstoptime}</if>
            <if test="warpstopnum != null "> and warpStopNum = #{warpstopnum}</if>
            <if test="weftstopnum != null "> and weftStopNum = #{weftstopnum}</if>
            <if test="otherstopnum != null "> and otherStopNum = #{otherstopnum}</if>
            <if test="picknum != null "> and pickNum = #{picknum}</if>
            <if test="shiftlength != null "> and shiftLength = #{shiftlength}</if>
            <if test="shiftdate != null "> and shiftDate = #{shiftdate}</if>
            <if test="shiftnow != null "> and shiftNow = #{shiftnow}</if>
            <if test="updatetime != null "> and updateTime = #{updatetime}</if>
            <if test="middleno != null "> and middleno = #{middleno}</if>
            <if test="stationno != null "> and stationno = #{stationno}</if>
            <if test="params.beginTime != null and params.beginTime != '' and params.endTime != null and params.endTime != ''"> and shiftStartTime between #{params.beginTime} and #{params.endTime}</if>
            <if test="params.actTime != null"> and shiftEndTime &gt; #{params.actTime} and shiftNow !=2</if>
        </where>
        order by
        <if test="params.sortProp != null and params.sortProp != '' and params.sortOrder != null and params.sortOrder != ''">
            ${params.sortProp} ${params.sortOrder},
        </if>
        shiftStartTime desc
    </select>

    <sql id="selectMftShiftVoGroup">
        select id, macCode, shiftType, min(shiftStartTime) as shiftStartTime,max(shiftEndTime) as shiftEndTime, group_concat(pdtCodes) as pdtCodes, group_concat(shaftCodes) as shaftCodes, avg(macSpeed) as macSpeed, avg(macEfficiency) as macEfficiency, sum(runTime) as runTime,
               sum(stopTime) as stopTime, sum(warpStopTime) as warpStopTime, sum(weftStopTIme) as weftStopTIme, sum(offLineTime) as offLineTime, sum(otherStopTime) as otherStopTime, sum(warpStopNum) as warpStopNum, sum(weftStopNum) as weftStopNum, sum(otherStopNum) as otherStopNum,
               sum(pickNum) as pickNum, sum(uploadNum) as uploadNum, sum(statusChangeNum) as statusChangeNum, sum(shiftLength) as shiftLength, min(startlength) as startlength, shiftDate, sum(shiftNow) as shiftNow, updateTime, remark,stationno,middleno from mft_shift
    </sql>

    <select id="selectMftShiftListGroup" parameterType="MftShift" resultMap="MftShiftResult">
        <include refid="selectMftShiftVoGroup"/>
        <where>
            <if test="maccode != null  and maccode != ''"> and macCode = #{maccode}</if>
            <if test="shifttype != null  and shifttype != ''"> and shiftType = #{shifttype}</if>
            <if test="shiftstarttime != null "> and shiftStartTime = #{shiftstarttime}</if>
            <if test="shiftendtime != null "> and shiftEndTime = #{shiftendtime}</if>
            <if test="pdtcodes != null  and pdtcodes != ''"> and pdtCodes like concat('%', #{pdtcodes}, '%')</if>
            <if test="shaftcodes != null  and shaftcodes != ''"> and shaftCodes = #{shaftcodes}</if>
            <if test="params.beginMacspeed != null and params.beginMacspeed != '' and params.endMacspeed != null and params.endMacspeed != ''"> and macSpeed between #{params.beginMacspeed} and #{params.endMacspeed}</if>
            <if test="macefficiency != null "> and macEfficiency = #{macefficiency}</if>
            <if test="runtime != null "> and runTime = #{runtime}</if>
            <if test="stoptime != null "> and stopTime = #{stoptime}</if>
            <if test="warpstoptime != null "> and warpStopTime = #{warpstoptime}</if>
            <if test="weftstoptime != null "> and weftStopTIme = #{weftstoptime}</if>
            <if test="offlinetime != null "> and offLineTime = #{offlinetime}</if>
            <if test="otherstoptime != null "> and otherStopTime = #{otherstoptime}</if>
            <if test="warpstopnum != null "> and warpStopNum = #{warpstopnum}</if>
            <if test="weftstopnum != null "> and weftStopNum = #{weftstopnum}</if>
            <if test="otherstopnum != null "> and otherStopNum = #{otherstopnum}</if>
            <if test="picknum != null "> and pickNum = #{picknum}</if>
            <if test="shiftlength != null "> and shiftLength = #{shiftlength}</if>
            <if test="shiftdate != null "> and shiftDate = #{shiftdate}</if>
            <if test="shiftnow != null "> and shiftNow = #{shiftnow}</if>
            <if test="updatetime != null "> and updateTime = #{updatetime}</if>
            <if test="middleno != null "> and middleno = #{middleno}</if>
            <if test="stationno != null "> and stationno = #{stationno}</if>
            <if test="params.beginTime != null and params.beginTime != '' and params.endTime != null and params.endTime != ''"> and shiftStartTime between #{params.beginTime} and #{params.endTime}</if>
            <if test="params.actTime != null"> and shiftEndTime &gt; #{params.actTime} and shiftNow !=2</if>
        </where>
        group by maccode,shiftdate,shifttype
        order by
        <if test="params.sortProp != null and params.sortProp != '' and params.sortOrder != null and params.sortOrder != ''">
            ${params.sortProp} ${params.sortOrder},
        </if>
        shiftStartTime desc
    </select>


    <select id="selectMftShiftById" parameterType="Long" resultMap="MftShiftResult">
        <include refid="selectMftShiftVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertMftShift" parameterType="MftShift" useGeneratedKeys="true" keyProperty="id">
        insert into mft_shift
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="maccode != null">macCode,</if>
            <if test="shifttype != null">shiftType,</if>
            <if test="shiftstarttime != null">shiftStartTime,</if>
            <if test="shiftendtime != null">shiftEndTime,</if>
            <if test="pdtcodes != null">pdtCodes,</if>
            <if test="shaftcodes != null">shaftCodes,</if>
            <if test="macspeed != null">macSpeed,</if>
            <if test="macefficiency != null">macEfficiency,</if>
            <if test="runtime != null">runTime,</if>
            <if test="stoptime != null">stopTime,</if>
            <if test="warpstoptime != null">warpStopTime,</if>
            <if test="weftstoptime != null">weftStopTIme,</if>
            <if test="offlinetime != null">offLineTime,</if>
            <if test="otherstoptime != null">otherStopTime,</if>
            <if test="warpstopnum != null">warpStopNum,</if>
            <if test="weftstopnum != null">weftStopNum,</if>
            <if test="otherstopnum != null">otherStopNum,</if>
            <if test="picknum != null">pickNum,</if>
            <if test="uploadnum != null">uploadNum,</if>
            <if test="statuschangenum != null">statusChangeNum,</if>
            <if test="shiftlength != null">shiftLength,</if>
            <if test="startlength != null">startlength,</if>
            <if test="shiftdate != null">shiftDate,</if>
            <if test="shiftnow != null">shiftNow,</if>
            <if test="updatetime != null">updateTime,</if>
            <if test="remark != null">remark,</if>
            <if test="middleno != null">middleno,</if>
            <if test="stationno != null">stationno,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="maccode != null">#{maccode},</if>
            <if test="shifttype != null">#{shifttype},</if>
            <if test="shiftstarttime != null">#{shiftstarttime},</if>
            <if test="shiftendtime != null">#{shiftendtime},</if>
            <if test="pdtcodes != null">#{pdtcodes},</if>
            <if test="shaftcodes != null">#{shaftcodes},</if>
            <if test="macspeed != null">#{macspeed},</if>
            <if test="macefficiency != null">#{macefficiency},</if>
            <if test="runtime != null">#{runtime},</if>
            <if test="stoptime != null">#{stoptime},</if>
            <if test="warpstoptime != null">#{warpstoptime},</if>
            <if test="weftstoptime != null">#{weftstoptime},</if>
            <if test="offlinetime != null">#{offlinetime},</if>
            <if test="otherstoptime != null">#{otherstoptime},</if>
            <if test="warpstopnum != null">#{warpstopnum},</if>
            <if test="weftstopnum != null">#{weftstopnum},</if>
            <if test="otherstopnum != null">#{otherstopnum},</if>
            <if test="picknum != null">#{picknum},</if>
            <if test="uploadnum != null">#{uploadnum},</if>
            <if test="statuschangenum != null">#{statuschangenum},</if>
            <if test="shiftlength != null">#{shiftlength},</if>
            <if test="startlength != null">#{startlength},</if>
            <if test="shiftdate != null">#{shiftdate},</if>
            <if test="shiftnow != null">#{shiftnow},</if>
            <if test="updatetime != null">#{updatetime},</if>
            <if test="remark != null">#{remark},</if>
            <if test="middleno != null">#{middleno},</if>
            <if test="stationno != null">#{stationno},</if>
         </trim>
    </insert>

    <update id="updateMftShift" parameterType="MftShift">
        update mft_shift
        <trim prefix="SET" suffixOverrides=",">
            <if test="maccode != null">macCode = #{maccode},</if>
            <if test="shifttype != null">shiftType = #{shifttype},</if>
            <if test="shiftstarttime != null">shiftStartTime = #{shiftstarttime},</if>
            <if test="shiftendtime != null">shiftEndTime = #{shiftendtime},</if>
            <if test="pdtcodes != null">pdtCodes = #{pdtcodes},</if>
            <if test="shaftcodes != null">shaftCodes = #{shaftcodes},</if>
            <if test="macspeed != null">macSpeed = #{macspeed},</if>
            <if test="macefficiency != null">macEfficiency = #{macefficiency},</if>
            <if test="runtime != null">runTime = #{runtime},</if>
            <if test="stoptime != null">stopTime = #{stoptime},</if>
            <if test="warpstoptime != null">warpStopTime = #{warpstoptime},</if>
            <if test="weftstoptime != null">weftStopTIme = #{weftstoptime},</if>
            <if test="offlinetime != null">offLineTime = #{offlinetime},</if>
            <if test="otherstoptime != null">otherStopTime = #{otherstoptime},</if>
            <if test="warpstopnum != null">warpStopNum = #{warpstopnum},</if>
            <if test="weftstopnum != null">weftStopNum = #{weftstopnum},</if>
            <if test="otherstopnum != null">otherStopNum = #{otherstopnum},</if>
            <if test="picknum != null">pickNum = #{picknum},</if>
            <if test="uploadnum != null">uploadNum = #{uploadnum},</if>
            <if test="statuschangenum != null">statusChangeNum = #{statuschangenum},</if>
            <if test="shiftlength != null">shiftLength = #{shiftlength},</if>
            <if test="startlength != null">startlength = #{startlength},</if>
            <if test="shiftdate != null">shiftDate = #{shiftdate},</if>
            <if test="shiftnow != null">shiftNow = #{shiftnow},</if>
            <if test="updatetime != null">updateTime = #{updatetime},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="middleno != null">middleno = #{middleno},</if>
            <if test="stationno != null">stationno = #{stationno},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteMftShiftById" parameterType="Long">
        delete from mft_shift where id = #{id}
    </delete>

    <delete id="deleteMftShiftByIds" parameterType="String">
        delete from mft_shift where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>


    <select id="createShift" parameterType="MftShift" statementType="CALLABLE">

        <![CDATA[
        call createShift(
                #{params.shiftStartTime,jdbcType=DATETIMEOFFSET},
                #{params.shiftEndTime,jdbcType=DATETIMEOFFSET},
                #{params.shiftDate,jdbcType=DATE},
                #{params.shiftType,jdbcType=VARCHAR},
                #{params.shiftNow,jdbcType=INTEGER});
                /*${params.shiftStartTime},
                ${params.shiftEndTime},
                ${params.shiftDate},
                ${params.shiftType},
                ${params.shiftNow});*/
        ]]>
    </select>

    <select id="updateShiftAny" parameterType="MftShift" statementType="CALLABLE">

        <![CDATA[
        call updateShiftAny(
                #{params.shiftStartTime,jdbcType=DATETIMEOFFSET},
                #{params.shiftEndTime,jdbcType=DATETIMEOFFSET},
                #{params.shiftDate,jdbcType=DATE},
                #{params.shiftType,jdbcType=VARCHAR},
                #{params.shiftNow,jdbcType=INTEGER});
        ]]>
    </select>

</mapper>